@*<!DOCTYPE html>
    <html lang="en">*@
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!--<!-- Mirrored from st.ourhtmldemo.com/new/Hospitals/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Oct 2024 02:44:36 GMT -->
<!--<head>
    <meta charset="UTF-8">
    <title>Home || Hospitals || Responsive HTML 5 Template</title>-->
<!-- responsive meta -->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!-- For IE -->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!-- master stylesheet A -->
<!--@*<link rel="stylesheet" href="css/style.css">*@
<!--@Styles.Render("~/cssa")-->
<!-- Responsive stylesheet B-->
<!--@*<link rel="stylesheet" href="css/responsive.css">*@
@Styles.Render("~/cssb")-->
<!-- Favicon -->
<!--<link rel="apple-touch-icon" sizes="180x180" href="~/Hinh/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" href="~/Hinh/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="~/Hinh/favicon/favicon-16x16.png" sizes="16x16">-->
<!-- Fixing Internet Explorer-->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/html5shiv.js"></script>
<![endif]-->
<!--</head>-->
<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="rs-20">
                <img src="~/Hinh/slides/1.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="220"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="1500">
                    <div class="slide-content-box mar-lft">
                        <h1>Hospitals providing total<br> healthcare <span>Solutions.</span></h1>
                        <p>Denouncing pleasure and praising pain was born and we will <br>give you a complete account of the system.</p>
                        <div class="button">
                            <a class="#" href="#">Read More</a>
                            <a class="btn-style-two" href="#">Departments</a>
                        </div>
                    </div>
                </div>

            </li>
            <li data-transition="fade">
                <img src="~/Hinh/slides/2.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="right" data-hoffset="0"
                     data-y="top" data-voffset="220"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="1500">
                    <div class="slide-content-box">
                        <h1>Hospitals providing total<br> healthcare <span>Solutions</span></h1>
                        <p>Denouncing pleasure and praising pain was born and we will <br>give you a complete account of the system.</p>
                        <div class="button">
                            <a class="#" href="#">Read More</a>
                            <a class="btn-style-two" href="#">Departments</a>
                        </div>
                    </div>
                </div>

            </li>
            <li data-transition="fade">
                <img src="~/Hinh/slides/3.jpg" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="0"
                     data-y="top" data-voffset="220"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="1500">
                    <div class="slide-content-box mar-lft">
                        <h1>Hospitals providing total<br> healthcare <span>Solutions.</span></h1>
                        <p>Denouncing pleasure and praising pain was born and we will <br>give you a complete account of the system.</p>
                        <div class="button">
                            <a class="#" href="#">Read More</a>
                            <a class="btn-style-two" href="#">Departments</a>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper-->
<!--Start call to action area-->
<section class="callto-action-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="title-box text-center">
                        <span class="flaticon-calendar"></span>
                        <h2>Hãy Đặt Lịch Khám Nhé</h2>
                    </div>
                    @*<div class="form-holder clearfix">
                            <form id="appointment" class="clearfix" name="appointment-form" action="https://st.ourhtmldemo.com/new/Hospitals/inc/sendmail.php" method="post">
                                <div class="single-box mar-right-30">
                                    <div class="input-box">
                                        <input type="text" name="form_name" value="" placeholder="Your Name" required="">
                                    </div>
                                    <div class="input-box">
                                        <select class="selectmenu">
                                            <option selected="selected">Select Doctor</option>
                                            <option>Marc Parcival</option>
                                            <option>Alen Bailey</option>
                                            <option>Basil Andrew</option>
                                            <option>Giles Franklin</option>
                                            <option>Edgar Denzil</option>
                                            <option>Garfield Feris</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="single-box">
                                    <div class="input-box">
                                        <select class="selectmenu">
                                            <option selected="selected">Select Department</option>
                                            <option>Cardiology</option>
                                            <option>Pulmonology</option>
                                            <option>Gynecology</option>
                                            <option>Neurology</option>
                                            <option>Urology</option>
                                            <option>Gastrology</option>
                                            <option>Pediatrician</option>
                                            <option>Laboratory</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" name="date" placeholder="Select Date" id="datepicker">
                                        <div class="icon-box">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <button class="thm-btn bgclr-1" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                            </form>
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</section>
<!--End call to action area-->
<!--Start Medical Departments area-->
<!--Start single ------------------------------------------------------------------item-->
<section class="medical-departments-area" style="background-color: #f9f9f9; padding: 50px 0;">
    <div class="container">
        <div class="sec-title text-center" style="margin-bottom: 40px;">
            <h1 style="font-size: 32px; color: #333; font-weight: bold;">Các Bệnh Viện</h1>
            <span class="border" style="display: inline-block; width: 60px; height: 3px; background-color: #007bff; margin-top: 10px;"></span>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="medical-departments-carousel owl-carousel owl-theme">
                    @foreach (var a in ViewBag.list)
                    {
                        <div class="single-item text-center" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 400px; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;">
                            <div class="iocn-holder" style="width: 100%; max-width: 250px; height: 250px; display: flex; justify-content: center; align-items: center; overflow: hidden; border-radius: 10px; background-color: #f0f0f0; transition: transform 0.3s ease;">
                                <img src="~/Areas/Admin/images/@a[5]" alt="Cardiology Image" style="width: 100%; height: 100%; object-fit: cover; transition: transform 0.3s ease;">
                            </div>
                            <div class="text-holder" style="flex-grow: 1; overflow: hidden; text-align: center; margin-top: 20px;">
                                <h3 style="font-size: 18px; color: #333; font-weight: 600; margin-bottom: 5px;">@a[1]</h3>
                                <p style="font-size: 14px; color: #666; margin: 0; line-height: 1.4; height: 50px; overflow: hidden;">@a[2]</p>
                            </div>
                            <a class="readmore" href="~/Department/HienThiBacSi?id=@a[0]" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 20px; transition: background-color 0.3s ease, transform 0.3s ease;">
                                Đọc thêm
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sec-title text-center" style="margin: 40px;">
            <h1 style="font-size: 32px; color: #333; font-weight: bold;">Các Bác Sĩ</h1>
            <span class="border" style="display: inline-block; width: 60px; height: 3px; background-color: #007bff; margin-top: 10px;"></span>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="medical-departments-carousel owl-carousel owl-theme">
                    @foreach (var b in ViewBag.listBS)
                    {
                        <div class="single-item text-center" style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; height: 400px; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease, box-shadow 0.3s ease;">
                            <div class="iocn-holder" style="width: 100%; max-width: 175px; height: 1050px; display: flex; justify-content: center; align-items: center; overflow: hidden; border-radius: 10px; background-color: #f0f0f0; transition: transform 0.3s ease;">
                                <img src="~/Hinh/team/@b[7]" alt="Cardiology Image" style="width: 100%; height: 100%; object-fit: cover; transition: transform 0.3s ease;">
                            </div>
                            <div class="text-holder" style="flex-grow: 1; overflow: hidden; text-align: center; margin-top: 20px;">
                                <h3 style="font-size: 18px; color: #333; font-weight: 600; margin-bottom: 5px;">@b[1]</h3>
                                <p style="font-size: 14px; color: #666; margin: 0; line-height: 1.4; height: 50px; overflow: hidden;">@b[4]</p>
                                <p style="font-size: 14px; padding-bottom:50px; color: #666; margin: 0; line-height: 1.4; height: 50px; overflow: hidden;">@b[5]</p>
                            </div>

                            <a class="readmore" href="" style="padding: 10px 20px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 20px; transition: background-color 0.3s ease, transform 0.3s ease;">
                                Đọc thêm
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Thêm file CSS và JS của Owl Carousel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Khởi tạo Owl Carousel -->
<script>
    $(document).ready(function () {
        $(".medical-departments-carousel").owlCarousel({
            items: 4, // Hiển thị 4 item cùng lúc
            loop: true, // Bật vòng lặp
            margin: 10, // Khoảng cách giữa các item
            nav: true, // Hiển thị nút điều hướng
            navText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"], // Nút điều hướng
            autoplay: true, // Tự động chuyển đổi
            autoplayTimeout: 5000, // Thời gian mỗi lần chuyển
        });
    });
</script>


<!--End Medical Departments area-->


<section class="latest-blog-area">
    <div class="container">
        <div class="sec-title">
            <h1>Latest From Blog</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="~/Hinh/blog/latest-blog-1.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html"><span class="flaticon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="blog-single.html">
                            <h3 class="blog-title">How to handle your kids’ from mystery ailments</h3>
                        </a>
                        <div class="text">
                            <p>The great explorer of the truth, master builder of human happiness one rejects, dislikes, or avoids pleasure itself because it is pleasure.</p>
                        </div>
                        <ul class="meta-info">
                            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>February 14, 2017</a></li>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>21 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End single blog item-->
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="~/Hinh/blog/latest-blog-2.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html"><span class="flaticon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="blog-single.html">
                            <h3 class="blog-title">Negative statin stories add to heart health risk</h3>
                        </a>
                        <div class="text">
                            <p>There anyone who loves or pursues or desires to obtain pains of itself, because it is pain because occasionally circumstances occur.</p>
                        </div>
                        <ul class="meta-info">
                            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>January 21, 2017</a></li>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>18 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End single blog item-->
            <!--Start single blog item-->
            <div class="col-md-4">
                <div class="single-blog-item">
                    <div class="img-holder">
                        <img src="~/Hinh/blog/latest-blog-3.jpg" alt="Awesome Image">
                        <div class="overlay-style-one">
                            <div class="box">
                                <div class="content">
                                    <a href="blog-single.html"><span class="flaticon-plus-symbol"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <a href="blog-single.html">
                            <h3 class="blog-title">Lung cancer survival rate in England improves</h3>
                        </a>
                        <div class="text">
                            <p>Which toil and pain can procure him some great pleasure. To take a trivial example, which of us  laborious physical exercise.</p>
                        </div>
                        <ul class="meta-info">
                            <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>January 15, 2017</a></li>
                            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>09 Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End single blog item-->
        </div>
    </div>
</section>
<!--End latest blog area-->

<!--End facilities Appointment area-->
<!--Start brand area-->
<section class="brand-area" style="background-color: #0392CE">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <div class="sec-title">
                        <h1>You’re in Good Hands</h1>
                    </div>
                    <div class="text">
                        <p>We believe in bringing the most modern techniques and delivering extraordinary care to ailing population with the highest levels of ethics and standards. We are committed to continuing medical education, through our fellowship and DNB programs.</p>
                        <p>We organize atleast one conference a month and support research foundation for continued advancement.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="awards-holder">
                    <div class="sec-title">
                        <h1>Clinic Awards</h1>
                    </div>
                    <div class="row">
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <a href="#"><img src="~/Hinh/awards/1.png" alt="Awesome Brand Image"></a>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <a href="#"><img src="~/Hinh/awards/2.png" alt="Awesome Brand Image"></a>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <a href="#"><img src="~/Hinh/awards/1.png" alt="Awesome Brand Image"></a>
                            </div>
                        </div>
                        <!--End single item-->
                        <!--Start single item-->
                        <div class="col-md-6">
                            <div class="single-item">
                                <a href="#"><img src="~/Hinh/awards/2.png" alt="Awesome Brand Image"></a>
                            </div>
                        </div>
                        <!--End single item-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<!--End brand area-->
<!--Start footer area-->
<!--<footer class="footer-area">
    <div class="container">
        <div class="row">-->
<!--Start single footer widget-->
<!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="single-footer-widget pd-bottom50">
        <div class="title">
            <h3>About Hospitals</h3>
            <span class="border"></span>
        </div>
        <div class="our-info">
            <p>The relentless service of Hospitals in the past 25 years taken health care to the most modern levels in the region catering to urban & rural.</p>
            <p class="mar-top">A Health Care Provider of Western Approach, Hospitals is the most trusted multispecialty hospital.</p>
            <a href="#">Know More<i class="fa fa-caret-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>-->
<!--End single footer widget-->
<!--Start single footer widget-->
<!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="single-footer-widget pd-bottom50">
        <div class="title">
            <h3>Usefull Links</h3>
            <span class="border"></span>
        </div>
        <ul class="usefull-links fl-lft">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Awards</a></li>
            <li><a href="#">Consultants</a></li>
            <li><a href="#">Working Hours</a></li>
            <li><a href="#">Procedures</a></li>
            <li><a href="#">Special Offers</a></li>
            <li><a href="#">FAQ’s</a></li>
        </ul>
        <ul class="usefull-links">
            <li><a href="#">Services</a></li>
            <li><a href="#">Healthy Foods</a></li>
            <li><a href="#">Appointments</a></li>
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Certificates</a></li>
            <li><a href="#">Qualifications</a></li>
        </ul>
    </div>
</div>-->
<!--End single footer widget-->
<!--Start single footer widget-->
<!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="single-footer-widget mar-bottom">
        <div class="title">
            <h3>Contact Details</h3>
            <span class="border"></span>
        </div>
        <ul class="footer-contact-info">
            <li>
                <div class="icon-holder">
                    <span class="flaticon-pin"></span>
                </div>
                <div class="text-holder">
                    <h5>Park Drive, Varick Str New York,<br> NY 10012, USA</h5>
                </div>
            </li>
            <li>
                <div class="icon-holder">
                    <span class="flaticon-interface"></span>
                </div>
                <div class="text-holder">
                    <h5>Getwell@Hospitals.com</h5>
                </div>
            </li>
            <li>
                <div class="icon-holder">
                    <span class="flaticon-technology-1"></span>
                </div>
                <div class="text-holder">
                    <h5>(123) 0200 12345 & 7890</h5>
                </div>
            </li>
            <li>
                <div class="icon-holder">
                    <span class="flaticon-clock"></span>
                </div>
                <div class="text-holder">
                    <h5>Mon-Satday: 9am to 18pm</h5>
                </div>
            </li>
        </ul>
    </div>
</div>-->
<!--Start single footer widget-->
<!--Start single footer widget-->
<!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
    <div class="single-footer-widget clearfix">
        <div class="title">
            <h3>Make an Appointment</h3>
            <span class="border"></span>
        </div>
        <form class="appointment-form" action="#">
            <div class="input-box">
                <input type="text" name="form_name" value="" placeholder="Your Name" required="">
                <div class="icon-box">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input-box">
                <input type="email" name="form_email" value="" placeholder="Your Email" required="">
                <div class="icon-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
            </div>
            <div class="input-box">
                <textarea name="form_message" placeholder="Your Message.." required="" aria-required="true"></textarea>
            </div>
            <button type="submit">submit</button>
        </form>
    </div>
</div>-->
<!--End single footer widget-->
<!--</div>
    </div>
</footer>-->
<!--End footer area-->
<!--Start footer bottom area-->
<!--<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright-text">
                    <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Hospitals.</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="footer-social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>-->
<!--End footer bottom area-->
<!--</div>-->
<!--Scroll to top-->
<!--<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-triangle-inside-circle"></span></div>-->
<!-- main jQuery A-->-->
<!--@* <script src="js/jquery-1.11.1.min.js"></script>*@
<!--@Scripts.Render("~/bundles/jquery")-->
<!-- Wow Script -->-->
<!--@*<script src="js/wow.js"></script>*@-->
<!--<!-- bootstrap -->-->
<!--@* <script src="js/bootstrap.min.js"></script>*@
<!--@Scripts.Render("~/bundles/bootstrap")-->
<!-- bx slider -->
<!--<script src="js/jquery.bxslider.min.js"></script>-->
<!-- count to -->
<!--<script src="js/jquery.countTo.js"></script>-->
<!-- owl carousel -->
<!--<script src="js/owl.carousel.min.js"></script>-->
<!-- validate -->
<!--<script src="js/validation.js"></script>-->
<!-- mixit up -->
<!--<script src="js/jquery.mixitup.min.js"></script>-->
<!-- easing -->
<!--<script src="js/jquery.easing.min.js"></script>-->
<!--@Scripts.Render("~/bundles/custom")-->
<!-- gmap helper -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>-->
@*gmap script
    <script src="js/gmaps.js"></script>
    <script src="js/map-helper.js"></script>
     fancy box
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.appear.js"></script>

     isotope script
    <script src="js/isotope.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.bootstrap-touchspin.js"></script>
     jQuery timepicker js
    <script src="assets/timepicker/timePicker.js"></script>
     Bootstrap select picker js

    <script src="assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script>*@-->
<!--<!-- Bootstrap bootstrap touchspin js -->
<!-- jQuery ui js -->
<!--<script src="assets/jquery-ui-1.11.4/jquery-ui.js"></script>-->
<!-- Language Switche  -->
<!--<script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>-->
<!-- Html 5 light box script-->-->
<!--@* <script src="assets/html5lightbox/html5lightbox.js"></script>*@-->
<!--<!-- revolution slider js -->-->
<!--@*<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="assets/revolution/js/extensions/revolution.extension.video.min.js"></script>*@

<!--@Scripts.Render("~/bundles/revolution")-->
<!-- thm custom script -->-->
<!--@*<script src="js/custom.js"></script>*@





</body>-->
<!-- Mirrored from st.ourhtmldemo.com/new/Hospitals/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Oct 2024 02:45:06 GMT -->
<!--</html>-->