@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<!-- Mirrored from www.konnectplugins.com/proclinic/Vertical/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Oct 2024 03:34:00 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProClinic-Bootstrap4 Hospital Admin</title>
    <!-- Fav  Icon Link -->
    <link rel="shortcut icon" type="image/png" href="~/Areas/Admin/images/fav.png">
    <!-- Bootstrap core CSS -->
    @*<link rel="stylesheet" href="css/bootstrap.min.css">*@
    @Styles.Render("~/Areas/Admin/cssc")
    <!-- themify icons CSS -->
    @*<link rel="stylesheet" href="css/themify-icons.css">*@

    @Styles.Render("~/Areas/Admin/cssd")
    <!-- Animations CSS -->
    @*<link rel="stylesheet" href="css/animate.css">*@
    @Styles.Render("~/Areas/Admin/csse")
    <!-- Main CSS -->
    @*<link rel="stylesheet" href="css/styles.css">*@
    @Styles.Render("~/Areas/Admin/cssf")
    @*<link rel="stylesheet" href="css/red.css" id="style_theme">*@
    @Styles.Render("~/Areas/Admin/cssg")
    @*<link rel="stylesheet" href="css/responsive.css">*@
    @Styles.Render("~/Areas/Admin/cssh")
    <!-- morris charts -->
    @*<link rel="stylesheet" href="charts/css/morris.css">*@

    @Styles.Render("~/Areas/Admin/cssi")
    <!-- jvectormap -->
    @*<link rel="stylesheet" href="css/jquery-jvectormap.css">*@
    @Styles.Render("~/Areas/Admin/cssj")



    @*<script src="js/modernizr.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsa")
</head>

<body>
    <!-- Pre Loader -->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--/Pre Loader -->
    <!-- Color Changer -->
    <div class="theme-settings" id="switcher">
        <span class="theme-click">
            <span class="ti-settings"></span>
        </span>
        <span class="theme-color theme-default" data-color="green"></span>
        <span class="theme-color theme-blue" data-color="blue"></span>
        <span class="theme-color theme-red theme-active" data-color="red"></span>
        <span class="theme-color theme-violet" data-color="violet"></span>
        <span class="theme-color theme-yellow" data-color="yellow"></span>
    </div>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="proclinic-bg">
            <div class="sidebar-header">
                <a href="index.html"><img src="~/Areas/Admin/images/logo.png" class="logo" alt="logo"></a>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#nav-dashboard" data-toggle="collapse" aria-expanded="true">
                        <span class="ti-home"></span> Dashboard
                    </a>
                    <ul class="collapse list-unstyled show" id="nav-dashboard">
                        <li>
                            <a href="index.html">Vertical</a>
                        </li>
                        <li>
                            <a href="https://www.konnectplugins.com/proclinic/Vertical-RTL/index.html">Vertical RTL</a>
                        </li>
                        <li>
                            <a href="https://www.konnectplugins.com/proclinic/Horizontal/index.html">Horizantal</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-patients" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-wheelchair"></span> Bệnh nhân
                    </a>
                    <ul class="collapse list-unstyled" id="nav-patients">
                        <li>
                            <a href="@Url.Action("ThemBenhNhan", "Patients", new { area = "Admin" })">Thêm bệnh nhân</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DanhSachBenhNhan", "Patients", new { area = "Admin" })">Danh sách bệnh nhân</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChiTietBenhNhan", "Patients", new { area = "Admin" })">Chi tiết bệnh nhân</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChinhSuaBenhNhan", "Patients", new { area = "Admin" })">Sửa bệnh nhân</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-doctors" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-user"></span> Bác sĩ
                    </a>
                    <ul class="collapse list-unstyled" id="nav-doctors">
                        <li>
                            <a href="@Url.Action("ThemBacSi", "Doctors", new { area = "Admin" })">Thêm bác sĩ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DanhSachBacSi", "Doctors", new { area = "Admin" })">Danh sách bác sĩ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChiTietBacSi", "Doctors", new { area = "Admin" })">Chi tiết bác sĩ</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChinhSuaBacSi", "Doctors", new { area = "Admin" })">Sửa bác sĩ</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-appointment" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-pencil-alt"></span> Cuộc hẹn
                    </a>
                    <ul class="collapse list-unstyled" id="nav-appointment">
                        <li>
                            <a href="@Url.Action("ThemCuocHen", "Appointment", new { area = "Admin" })">Thêm cuộc hẹn</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DanhSachCuocHen", "Appointment", new { area = "Admin" })">Danh sách cuộc hẹn</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChiTietCuocHen", "Appointment", new { area = "Admin" })">Chi tiết cuôc hẹn</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChinhSuaCuocHen", "Appointment", new { area = "Admin" })">Chỉnh sửa cuộc hẹn</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-payment" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-money"></span> Thanh toán
                    </a>
                    <ul class="collapse list-unstyled" id="nav-payment">
                        <li>
                            <a href="@Url.Action("ThemPhuongThuc", "Payments", new { area = "Admin" })">Thêm phương thức</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DanhSachPhuongThuc", "Payments", new { area = "Admin" })">Danh sách phương thức</a>
                        </li>
                        <li>
                            <a href="@Url.Action("HoaDon", "Payments", new { area = "Admin" })">Hóa đơn thanh toán</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-rooms" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-key"></span> Bệnh viện
                    </a>
                    <ul class="collapse list-unstyled" id="nav-rooms">
                        <li>
                            <a href="@Url.Action("ThemBenhVien", "Hospitals", new { area = "Admin" })">Thêm bệnh viện</a>
                        </li>
                        <li>
                            <a href="@Url.Action("DanhSachBenhVien", "Hospitals", new { area = "Admin" })">Danh sách bệnh viện</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChinhSuaBenhVien", "Hospitals", new { area = "Admin" })">Chỉnh sửa bênh viện</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-level-one">
                    <a href="#nav-uiKit" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-layout-tab"></span> Khoa
                    </a>
                    <ul class="list-unstyled collapse" aria-expanded="true" id="nav-uiKit">
                        <li>
                            <a href="@Url.Action("DanhSachKhoa", "Departments", new { area = "Admin" })">Danh sách khoa</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ThemKhoa", "Departments", new { area = "Admin" })">Thêm khoa</a>
                        </li>
                        <li>
                            <a href="cards.html">Cards</a>
                        </li>
                        <li>
                            <a href="tabs.html">Tabs</a>
                        </li>
                        <li>
                            <a href="accordions.html">Accordions</a>
                        </li>
                        <li>
                            <a href="modals.html">Modals</a>
                        </li>
                        <li>
                            <a href="lists.html">Lists &amp; Media Object</a>
                        </li>
                        <li>
                            <a href="grid.html">Grid</a>
                        </li>
                        <li>
                            <a href="progress-bars.html">Progress Bars</a>
                        </li>
                        <li>
                            <a href="notifications-alerts.html">Notifications &amp; Alerts</a>
                        </li>
                        <li>
                            <a href="pagination.html">Pagination</a>
                        </li>
                        <li>
                            <a href="carousel.html">Carousel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="tables.html">
                        <span class="ti-layout-menu-v"></span> Tables
                    </a>
                </li>
                <li>
                    <a href="#nav-charts" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-pie-chart"></span> Charts
                    </a>
                    <ul class="collapse list-unstyled" id="nav-charts">
                        <li>
                            <a href="charts-1.html">Morris</a>
                        </li>
                        <li>
                            <a href="charts-2.html">Flot</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-maps" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-location-pin"></span> Maps
                    </a>
                    <ul class="collapse list-unstyled" id="nav-maps">
                        <li>
                            <a href="map-1.html">Google Maps</a>
                        </li>
                        <li>
                            <a href="map-2.html">Vector Maps</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="forms.html">
                        <span class="ti-layout-media-overlay-alt-2"></span> Forms
                    </a>
                </li>
                <li>
                    <a href="#nav-icons" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-themify-favicon"></span> icons
                    </a>
                    <ul class="collapse list-unstyled" id="nav-icons">
                        <li>
                            <a href="font-awesome.html">Font Awesome </a>
                        </li>
                        <li>
                            <a href="themify.html">Themify</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#nav-pages" data-toggle="collapse" aria-expanded="false">
                        <span class="ti-file"></span> Other Pages
                    </a>
                    <ul class="collapse list-unstyled" id="nav-pages">
                        <li>
                            <a href="login.html">Login </a>
                        </li>
                        <li>
                            <a href="sign-up.html">Sign Up</a>
                        </li>
                        <li>
                            <a href="404.html">404</a>
                        </li>
                        <li>
                            <a href="blank-page.html">Blank Page</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="invoice.html">Invoice</a>
                        </li>
                        <li>
                            <a href="blank-page.html">Coming Soon</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="nav-help animated fadeIn">
                <h5><span class="ti-comments"></span> Need Help</h5>
                <h6>
                    <span class="ti-mobile"></span> +1 1234 567 890
                </h6>
                <h6>
                    <span class="ti-email"></span> email@site.com
                </h6>
                <p class="copyright-text">Copy rights &copy; 2018</p>
            </div>
        </nav>
        <!-- /Sidebar -->
        <!-- Page Content -->
        <div id="content">
            <!-- Top Navigation -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="responsive-logo">
                        <a href="index.html"><img src="~/Areas/Admin/images/logo-dark.png" class="logo" alt="logo"></a>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <span class="ti-menu" id="sidebarCollapse"></span>
                        </li>
                        <li class="nav-item">
                            <span title="Fullscreen" class="ti-fullscreen fullscreen"></span>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="modal" data-target=".proclinic-modal-lg">
                                <span class="ti-search"></span>
                            </a>
                            <div class="modal fade proclinic-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lorvens">
                                    <div class="modal-content proclinic-box-shadow2">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Search Patient/Doctor:</h5>
                                            <span class="ti-close" data-dismiss="modal" aria-label="Close">
                                            </span>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="search-term" placeholder="Type text here">
                                                    <button type="button" class="btn btn-lorvens proclinic-bg">
                                                        <span class="ti-location-arrow"></span> Search
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="ti-announcement"></span>
                            </a>
                            <div class="dropdown-menu proclinic-box-shadow2 notifications animated flipInY">
                                <h5>Notifications</h5>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-wheelchair"></span> New Patient Added
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-money"></span> Patient payment done
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-time"></span>Patient Appointment booked
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-wheelchair"></span> New Patient Added
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="ti-user"></span>
                            </a>
                            <div class="dropdown-menu proclinic-box-shadow2 profile animated flipInY">
                                <h5>John Willing</h5>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-settings"></span> Cài đặt
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ProfileLayoutBS", "Home", new { area = "" })">
                                    <span class="ti-help-alt"></span> Chỉnh sửa thông tin
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="ti-power-off"></span> Đăng xuất
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
            <!-- /Top Navigation -->
            <!-- Breadcrumb -->
            <!-- Page Title -->
            <!-- /Page Title -->
            <!-- /Breadcrumb -->
            <!-- Main Content -->
            <div class="container-fluid">
                @RenderBody()
            </div>

            <!-- /Main Content -->
        </div>
        <!-- /Page Content -->
    </div>
    <a id="back-to-top" href="#" class="back-to-top">
        <span class="ti-angle-up"></span>
    </a>

    <!-- Jquery Library-->
    @*<script src="js/jquery-3.2.1.min.js"></script>*@

    @Scripts.Render("~/Areas/Admin/jsb")
    <!-- Popper Library-->
    @*<script src="js/popper.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsc")
    <!-- Bootstrap Library-->
    @*<script src="js/bootstrap.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsd")
    <!-- morris charts -->
    @*<script src="charts/js/raphael-min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jse")
    @*<script src="charts/js/morris.min.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsf")
    @*<script src="js/custom-morris.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsg")

    <!-- Custom Script-->
    @*<script src="js/custom.js"></script>*@
    @Scripts.Render("~/Areas/Admin/jsh")
</body>
</html>
