@using System.Collections
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from st.ourhtmldemo.com/new/Hospitals/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Oct 2024 02:44:36 GMT -->
<head>
    <meta charset="UTF-8">
    <title>Home || Hospitals || Responsive HTML 5 Template</title>

    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- master stylesheet A -->
    @*<link rel="stylesheet" href="css/style.css">*@
    @Styles.Render("~/cssa")

    <!-- Responsive stylesheet B-->
    @*<link rel="stylesheet" href="css/responsive.css">*@
    @Styles.Render("~/cssb")

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Hinh/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Hinh/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Hinh/favicon/favicon-16x16.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
    <div class="boxed_wrapper">

        <!--Start Preloader -->
        <div class="preloader"></div>
        <!--End Preloader -->
        <!--Start header area-->
        <!--Start top bar area-->
        <section class="top-bar-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                        <div class="top-left">
                            <p><span class="flaticon-phone"></span>Hoạt động 24/24 </p>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <div class="top-right clearfix">
                            <ul class="social-links">

                                <li><a href="~/Home/GiaoDienDangKyChoBacSi"><i class="fa-solid fa-user-doctor"></i></a></li>
                                <li><a href="@Url.Action("xulyDangXuat", "Home")"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
                               <li><a href="@Url.Action("ProfileLayout","Home")"><i class="fa-solid fa-user"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End top bar area-->
        <!--Start header area-->
        <section class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="logo">
                            <a href="~/Home/Index">
                                <img src="~/images/resources/logo.png" alt="Awesome Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-technology"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Gọi Số Hotline</h4>
                                        <span>123456789</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-pin"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Khắp cả nước</h4>
                                        <span></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-agenda"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h4>Thứ 2 đến CN</h4>
                                        <span>09.00am to 18.00pm</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="search-button pull-right">
                                <div class="toggle-search">
                                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End header area-->
        <!--Start header-search  area-->
        <section class="header-search">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="search-form pull-right">
                            <form action="#">
                                <div class="search">
                                    <input type="search" name="search" value="" placeholder="Nhập tên bác sĩ bạn mong muốn">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End header-search  area-->
        <!--Start mainmenu area-->
        <section class="mainmenu-area stricky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!--Start mainmenu-->
                        <nav class="main-menu pull-left">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Index", "Department")">Bệnh Viện</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href="@Url.Action("Index", "Doctor")">Y bác sĩ</a>
                                    </li>
                                    <li><a href="@Url.Action("Index", "News")">Tin Tức</a></li>
                                    @*<li>
                                        <a>
                                            @if (Session["taikhoan"] != null)
                                            {
                                                ArrayList user = (ArrayList)Session["taikhoan"];
                                                <text>Xin Chào!<span style="color:violet"> @user[1]</span> </text>


                                            }
                                            else
                                            {
                                                <text>Chào mừng bạn!</text>
                                            }



                                        </a>
                                    </li>*@
                                   @* <li><a href="@Url.Action("xulyDangXuat", "Home")">Đăng xuất</a></li>*@

                                </ul>
                            </div>

                        </nav>
                        <!--End mainmenu-->
                        <!--Start mainmenu right box-->
                        <div class="mainmenu-right-box pull-right">
                            <div class="consultation-button dropdown">
                                <a href="@Url.Action("GiaoDienDangNhap","Home")">Đăng Nhập</a>
                                <ul class="dropdown-menu">
                                    <li><a href="login.html">Đăng Nhập</a></li>
                                </ul>
                            </div>
                        </div>


                        <!--End mainmenu right box-->
                    </div>
                </div>
            </div>
        </section>
        <!--End mainmenu area-->
        <div>
            @RenderBody()
        </div>
        <!--End brand area-->
        <!--Start footer area-->
        <footer class="footer-area">
            <div class="container">
                <div class="row">
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-footer-widget pd-bottom50">
                            <div class="title">
                                <h3>Giới Thiệu</h3>
                                <span class="border"></span>
                            </div>
                            <div class="our-info">
                                <p>Trong 25 năm qua, dịch vụ không ngừng nghỉ của các bệnh viện trong khu vực đã nâng chăm sóc sức khỏe lên những mức độ hiện đại nhất, phục vụ cả khu vực thành thị và nông thôn.</p>
                                <p class="mar-top">Bệnh viện Tiếp cận Y tế Phương Tây là bệnh viện đa khoa được tin cậy nhất trong khu vực.</p>
                                <a href="#">Tìm Hiểu Thêm<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-footer-widget pd-bottom50">
                            <div class="title">
                                <h3>Liên Kết Hữu Ích</h3>
                                <span class="border"></span>
                            </div>
                            <ul class="usefull-links fl-lft">
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Giải thưởng</a></li>
                                <li><a href="#">Chuyên gia tư vấn</a></li>
                                <li><a href="#">Giờ làm việc</a></li>
                                <li><a href="#">Các quy trình</a></li>
                                <li><a href="#">Ưu đãi đặc biệt</a></li>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                            </ul>
                            <ul class="usefull-links">
                                <li><a href="#">Dịch vụ</a></li>
                                <li><a href="#">Thực phẩm tốt cho sức khỏe</a></li>
                                <li><a href="#">Cuộc hẹn</a></li>
                                <li><a href="#">Tin tức mới nhất</a></li>
                                <li><a href="#">Chứng chỉ</a></li>
                                <li><a href="#">Trình độ chuyên môn</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-footer-widget mar-bottom">
                            <div class="title">
                                <h3>Thông Tin Liên Hệ</h3>
                                <span class="border"></span>
                            </div>
                            <ul class="footer-contact-info">
                                <li>
                                    <div class="icon-holder">
                                        <span class="flatixcon-pin"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>1 Lý Thường Kiệt, Phường 7<br> Tân Bình, Hồ Chí Minh</h5>
                                    </div>
                                </li>
                                <li>
                                      <div class="icon-holder">
                                        <span class="flaticon-interface"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>Getwell@Hospitals.com</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-technology-1"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>(123) 0200 12345 & 7890</h5>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon-holder">
                                        <span class="flaticon-clock"></span>
                                    </div>
                                    <div class="text-holder">
                                        <h5>Thứ Hai - Thứ Bảy: 9 giờ sáng đến 18 giờ tối</h5>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <!--Start single footer widget-->
                    <!--Start single footer widget-->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="single-footer-widget clearfix">
                            <div class="title">
                                <h3>Đặt Lịch Hẹn</h3>
                                <span class="border"></span>
                            </div>
                            <form class="appointment-form" action="#">
                                <div class="input-box">
                                    <input type="text" name="form_name" value="" placeholder="Your Name" required="">
                                    <div class="icon-box">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <input type="email" name="form_email" value="" placeholder="Your Email" required="">
                                    <div class="icon-box">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="input-box">
                                    <textarea name="form_message" placeholder="Your Message.." required="" aria-required="true"></textarea>
                                </div>
                                <button type="submit">Gửi</button>
                            </form>
                        </div>
                    </div>
                    <!--End single footer widget-->
                </div>
            </div>
        </footer>
        <!--End footer area-->
        <!--Start footer bottom area-->
        <section class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright-text">
                            <p>Copyrights © 2017 All Rights Reserved, Powered by <a href="#">Hospitals.</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="footer-social-links">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End footer bottom area-->

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
    @Scripts.Render("~/bundles/revolution")
</body>
