

@{
    ViewBag.Title = "ProfileLayoutBS";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!-- Page Title -->
<style>
    .container-fluid {
        display: flex; /* Kích hoạt Flexbox */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        margin: 0; /* Loại bỏ margin mặc định */
   
    }
</style>
<!-- /Page Title -->
<!-- Main Content -->
<div class="container-fluid">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title" style="padding-bottom: 20px">Thông tin cá nhân</h3>
                @foreach (var a in ViewBag.listBS)
                {
                    <div class="row no-mp">
                        <div class="col-md-4">
                            <div class="card mb-4">
                               
                                <img class="card-img-top" src="~/Imgaa/@a[8]" alt="Card image">
                                <div class="card-body">

                                    <a href="/Doctor/HienThibacSi?id=@a[7]" class="btn btn-success mb-2">Chỉnh sửa thông tin</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <td><strong>Tên Bác sĩ </strong></td>
                                            <td>@a[1]</td>
                                        </tr>
                                        <tr>
                                            <td><strong>NgaySinh</strong></td>
                                            <td>@a[2]</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Tên bệnh viện Công tác</strong></td>
                                            <td>
                                                @a[5]
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Năm kinh nghiệm</strong> </td>
                                            <td>@a[3]</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Mức giá khám</strong> </td>
                                            <td>@a[9]</td>
                                        </tr>
                                        <tr>
                                            @*<td><strong>
    <p>Giá trị id: @a[7]</p>
</strong></td>
                                            <td>@a[6]</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /Widget Item -->

    </div>
</div>
<!-- /Main Content -->
